<div class="container main-container">
    <h4>Editar Aluna</h4>
    <hr />
    <form novalidate [formGroup]="cadastroForm" (ngSubmit)='atualizarAluna()'>
        <div class="form-group">
            <label class="col-md-2 control-label" for="nome">Nome</label>
            <div class="col-md-10">
                <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                    formControlName="nome" />
            </div>

            <label class="col-md-2 control-label" for="dataNascimento">Data de Nascimento</label>
            <div class="col-md-10">
                <div>
                    <input class="form-control" id="dataNascimento" type="date" placeholder="Data de Nascimento (requerido)"
                        formControlName="dataNascimento" />
                </div>
            </div>

            <label class="col-md-2 control-label" for="escola">Escola</label>
            <div class="col-md-10">
                <input class="form-control" id="escola" type="text" placeholder="Escola (requerido)"
                    formControlName="escola" />
            </div>

            <label class="col-md-2 control-label" for="endereco">Endereço</label>
            <div class="col-md-10">
                <input class="form-control" id="endereco" type="text" placeholder="Endereço (requerido)"
                    formControlName="endereco" />
            </div>

            <label class="col-md-2 control-label" for="nomeResponsavel">Nome do Responsável</label>
            <div class="col-md-10">
                <input class="form-control" id="nomeResponsavel" type="text" placeholder="Nome do Responsável (requerido)"
                    formControlName="nomeResponsavel" />
            </div>

            <label class="col-md-2 control-label" for="telefone">Telefone</label>
            <div class="col-md-10">
                <input class="form-control" id="telefone" type="text" placeholder="Telefone (requerido)"
                    formControlName="telefone" />
            </div>

        </div>

        <br>
        <div class="form-group">
            <div class="container">
                <button class="btn btn-success" id="registrar" type="submit">Salvar</button>
                <button class="btn btn-danger" id="cancelar" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </form>
</div>