<footer id="dados" data-uw-styling-context="true">
        <div class="conteudo" data-uw-styling-context="true">
            <span data-uw-styling-context="true">
                <strong data-uw-styling-context="true">LEOAS DA SERRA</strong>
                <br data-uw-styling-context="true">Rua Gustavo Lebon Regis, 174, Copacabana, CEP 885504-225, Lages/SC
                <br data-uw-styling-context="true">(49) 99965.5738 Geane Ferreira
                <br data-uw-styling-context="true">contato@leoasdaserra.com.br
            </span>

            <br data-uw-styling-context="true">
            <a href="http://www.facebook.com/leoasdaserralages" target="_blank" data-uw-styling-context="true"><i class="fa fa-facebook-square" aria-hidden="true" id="facebook" data-uw-styling-context="true"></i></a>
            <a href="https://www.youtube.com/channel/UCgmyjS_L8f8bTawyKuI_LWw" target="_blank" data-uw-styling-context="true"><i class="fa fa-youtube" aria-hidden="true" id="youtube" data-uw-styling-context="true"></i></a>
            <a href="http://ueek.com.br" target="_blank" data-uw-styling-context="true"><img src="img/imagens/ueek.png" id="ueek" data-uw-styling-context="true"></a>



            <nav id="menu" class="menuBaixo" data-uw-styling-context="true">
                <ul data-uw-styling-context="true">
                    <li data-uw-styling-context="true"><a href="/" data-uw-styling-context="true">Home</a></li>
                    <li data-uw-styling-context="true"><a href="/instituicao" data-uw-styling-context="true">A Instituição</a></li>
                    <li data-uw-styling-context="true"><a href="/time" data-uw-styling-context="true">O Time</a></li>
                    <li data-uw-styling-context="true"><a href="/transparencia" data-uw-styling-context="true">Transparencia</a></li>
                    <li data-uw-styling-context="true"><a href="/cronograma" data-uw-styling-context="true">Cronograma</a></li>
                    <li data-uw-styling-context="true"><a href="/escola-de-leoas" data-uw-styling-context="true">Escola de Leoas</a></li>
                    <li data-uw-styling-context="true"><a href="/imprensa" data-uw-styling-context="true">Imprensa</a></li>
                    <li data-uw-styling-context="true"><a href="http://blog.leoasdaserra.com.br/" target="_blank" data-uw-styling-context="true">Blog</a></li>
                    <!--li><a href="index.php#noticias">Notícias</a></li-->
                    <li data-uw-styling-context="true"><a href="/apoio" data-uw-styling-context="true">Apoie-nos</a></li>
                    <li data-uw-styling-context="true"><a href="index.php#contato" data-uw-styling-context="true">Contato</a></li>
                </ul>
            </nav>
        </div>
</footer>
