<div class="container main-container">
    <h4>Cadastrar Chamada</h4>
    <hr>
    <form novalidate [formGroup]="cadastroForm" (ngSubmit)='adicionarChamada()'>
        <div class="form-group">

            <label class="col-md-2 control-label" for="dataNascimento">Data da aula</label>
            <div class="col-md-10">
                <div>
                    <input class="form-control" id="dataNascimento" type="date" placeholder="Data de Nascimento (requerido)"
                        formControlName="dataNascimento" />
                </div>
            </div>

            <label class="col-md-2 control-label" for="aluna">Alunas</label>
            <div class="col-md-10">
                <tr *ngFor="let aluna of listaAlunas">
                    <td></td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{aluna.id}}">
                        <label class="form-check-label" for="alunasCheckBox">
                            {{aluna.nome}}
                        </label>
                    </div>
                </tr>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="registrar" type="submit">Registrar</button></span>
                <span><button class="btn btn-danger" id="cancelar" (click)="cancelar()">Cancelar</button></span>
            </div>
        </div>
    </form>
</div>