<div class="container main-container">
    <h4>Configurações</h4>
    <hr>
    
    <label class="col-md-2 control-label" for="nome">Email</label>
    <div class="col-md-10">
        <input class="form-control" id="nome" type="email" placeholder="Email (requerido)"
            formControlName="nome" value="seuEmail@gmail.com"/>
    </div>
    <br>
    <label class="col-md-2 control-label" for="nome">Senha</label>
    <div class="col-md-10">
        <input class="form-control" id="nome" type="password" placeholder="Senha (requerido)"
            formControlName="nome" value="seuEmail@gmail.com"/>
    </div>
</div>